/* font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif */
/* common csa part */
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style-type: none;
}
html,body{
  scroll-behavior: unset !important;
}
/* navbar css part */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 28px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  transition: all linear 0.3s;
  position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 3px;
  background-color: #fce38a;
  transition: all linear 0.3s;
}
.navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link {
  padding-right: 0;
}
.navbar-expand-lg .navbar-nav .nav-item:hover .nav-link {
  color: #fce38a;
}
.navbar-expand-lg .navbar-nav .nav-item:hover .nav-link::after {
  width: 100%;
}
/* navbar css end */
/* banner css part */
#banner {
  position: relative;
}
.ban-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    hsla(47, 95%, 76%, 0.9),
    hsla(0, 83%, 73%, 0.9)
  );
}
.ban-text h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 72px;
  font-weight: 400;
  color: #fff;
}
.ban-text h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 140px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.ban-text h1 {
  position: relative;
}
.ban-text h1::after {
  position: absolute;
  content: "";
  bottom: -55px;
  left: 50%;
  transform: translate(-50%);
  width: 60px;
  height: 4px;
  background-color: #fff;
}
.ban-button {
  padding-top: 120px;
}
.ban-button a {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px 30px;
  border: 3px solid #fff;
}
/* banner css end */
/* about css part */
#about {
  padding-top: 100px;
  padding-bottom: 100px;
}
.about-content h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  font-weight: 400;
  color: #333333;
}
.about-content h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 40px;
}
.about-content h1::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  width: 60px;
  height: 3px;
  background-color: #f38181;
}
.about-content p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
  padding-top: 60px;
  padding-bottom: 100px;
}
.about-img {
  position: relative;
  margin: 0 12px;
}
.about-img.img-a {
  display: block;
}
.about-img:hover .about-overlay {
  opacity: 1;
}
.about-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    hsla(47, 95%, 76%, 0.9),
    hsla(0, 83%, 73%, 0.9)
  );
  opacity: 0;
  transition: all linear 0.3s;
}
.about-overlay .overlay-item {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.overlay-item h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding-top: 10px;
}
#about .slick-slide img {
  display: inline-block;
}
/* about css end */
/* counter css part */
#counter {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #95e1d3;
}
.counter-up h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 72px;
  font-weight: 700;
  color: #fff;
}
.counter-up span {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
/* counter css end */
/* service css part */
#service {
  padding-top: 80px;
  padding-bottom: 80px;
}
.service-wapper {
  margin-top: 70px;
}
.service-item-b {
	padding-top: 50px;
}
.item-icon i {
  font-size: 28px;
  color: #95e1d3;
}
.item-content h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  text-transform: uppercase;
}
.item-content p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #999;
  padding-right: 40px;
}
/* service css end */
/* comment css part */
#comment {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f8f8f8;
}
.comment-icon-end i {
  font-size: 22px;
  color: #cccccc;
  line-height: 150px;
}
.comment-icon {
  width: 152px;
  height: 152px;
  text-align: center;
  border: 2px solid #95e1d3;
}
.comment-icon i {
  line-height: 152px;
  font-size: 45px;
  color: #95e1d3;
}
.comment-text p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: #999;
  font-style: italic;
  margin-bottom: 0;
}
.comment-text h1 {
	font-family: "Kaushan Script", cursive;
	font-weight: 400;
	font-size: 24px;
	color: #333;
  text-align: left;
	position: relative;
	padding-left: 70px;
	margin-bottom: 0;
	margin-top: 10px;
}
.comment-text h1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  bottom: 0;
  width: 60px;
  height: 3px;
  background-color: #f38181;
}
/* comment css end */
/* Team css part */
#team {
  padding-top: 100px;
}
.team-wapper{
  margin: 0 12px;
}
.team-img {
  position: relative;
}
.team-img:hover .team-overlay {
  opacity: 1;
}
.team-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    hsla(47, 95%, 76%, 0.9),
    hsla(0, 83%, 73%, 0.9)
  );
  opacity: 0;
  transition: linear all 0.3s;
}
.team-social-media {
  position: relative;
}
.social-media {
  background-color: #fce38a;
  border-right: 1px solid #f9bd87;
}
.social-media:last-child {
  border-right: none;
}
.social-media i {
  padding: 15px 22px;
  font-size: 26px;
  color: #f38181;
}
.social-media i:hover {
  color: #fff;
  background-color: #f38181;
}
.team-text {
  padding-top: 40px;
}
.team-text h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
}
.team-text p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #999999;
  font-style: italic;
}
/* Team css end */
/* work css part */
#work {
  padding-top: 100px;
  padding-bottom: 100px;
}
.gal-item{
  position: relative;
}
.gal-item:hover .work-overlay{
  opacity: 1;
}
.work-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    hsla(47, 95%, 76%, 0.9),
    hsla(0, 83%, 73%, 0.9)
  );
  opacity: 0;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.oveerlay-items{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.oveerlay-items i{
  font-size: 30px;
  color: #fff;
  padding-bottom: 15px;
}
.oveerlay-items h6{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 6px;
}
.oveerlay-items p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  font-style: italic;
}
/* work css end */
/* footer css part */
#footer {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f8f8f8;
}
.f-logo{
  padding-bottom: 20px;
}
.followers {
  position: relative;
  padding-bottom: 18px;
}
.followers::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 90%;
  height: 1px;
  background-color: #e5e5e5;
}
.f-left-content p{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #999999;
  padding-bottom: 50px;
}
.followers-icon {
  padding-top: 15px;
}
.followers-icon span {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #999999;
  font-style: italic;
  text-transform: uppercase;
  padding-right: 24px;
}
.followers-icon a{
  padding-right: 13px;
  font-size: 14px;
  color: #95e1d3;
}
.f-form {
  margin-top: 30px;
  position: relative;
}
.f-form input {
  width: 375px;
  padding: 12px 150px 12px 25px;
}
.f-form input::placeholder {
  font-style: italic;
}
.f-form input:focus {
  outline: none;
}
.f-form button {
	padding: 14px 25px;
	background-color: #95e1d3;
	color: #fff;
	border: none;
	position: absolute;
	top: 0;
	right: 38px;
}
.f-gal-img img {
  border: 2px solid #f8f8f8;
}
.f-left-content p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #999999;
  line-height: 24px;
  width: 462px;
  padding-top: 46px;
  padding-bottom: 46px;
} 
.followers h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 18px;
  color: #333333; 
}

.followers h4 span {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #333333;
}
.f-blog-head h5,.f-gal-head h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 40px;
}
.f-blog .blog {
  padding-bottom: 30px;
}
.f-bolg-content {
  margin: 10px 0px 7px 22px;
}
.f-bolg-content p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.f-bolg-content h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #9999;
}
.more p{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #333333;
  font-style: italic;
  padding-top: 14px;
}

/* footer css end */
/* sticky menu */
.sticky-menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 15px 17px -6px rgba(0,0,0,0.45);
  -webkit-box-shadow: 0px 15px 17px -6px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 15px 17px -6px rgba(0,0,0,0.45);
  z-index: 999;
  animation: sticky 1s;
  -webkit-animation: sticky 1s;
}

@keyframes sticky {
  from{
    top: -100px;
  }
  to{
    top: 0;
  }
}

.navbar.sticky-menu .nav-link{
  color: #000;
}



.back-to-top{
  position: fixed;
  bottom: 100px;
  right: 35px;
  display: none;
}
.back-to-top i{
  width: 40px;
  height: 40px;
  background-color: red;
  color: #fff;
  font-size: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

.vbox-close {
  top: 10px !important;
  right: 20px !important;
}